services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  WebVision\DeeplWrite\:
    resource: '../Classes/*'

  WebVision\DeeplWrite\Hooks\WriteHook:
    public: true

  WebVision\DeeplWrite\Configuration\ConfigurationInterface:
    class: WebVision\DeeplWrite\Configuration\Configuration
